[tool.ruff]
exclude = [
  "__pycache__",
  ".venv",
  ".git",
]
line-length = 88
lint.ignore = [
  "T201",      # Allow print
  "N818",      # Don't require exceptions names to end with Error
  "PTH100",    # Allow using os.path (we want normpath() instead of Path.resolve())
  "B904",      # Don't require from clause with raise inside except
  "SIM102",    # Don't force combining nested ifs
]
target-version = "py38"
lint.select = [
  "E",
  "F",
  "W",
  "C90",
  "I",
  "N",
  "B",
  "PYI",
  "PL",
  "PTH",
  "UP",
  "A",
  "C4",
  "DTZ",
  "ISC",
  "ICN",
  "INP",
  "PIE",
  "T20",
  "PYI",
  "PT",
  "RSE",
  "RET",
  "SIM",
  "RUF"
]
[tool.ruff.lint.per-file-ignores]
"tasks.py" = [
  "T201",
  "PTH123",
  "PTH120"
]

[[tool.mypy.overrides]]
module = ["robot.api.*"]
follow_untyped_imports = true
